{% cache globally %}


{% set footerNavigation = craft.navigation.nodes('footerNavigation').level(1).with(['children']).collect() %}

{% do craft.app.elements.eagerLoadElements(
  className(logo),
  [logo],
  [
    'logoBlack',
  ]
) %}

{% do craft.app.elements.eagerLoadElements(
  className(footer),
  [footer],
  [
    'logos', 'icon', 'socialLinks', 'socialLinks.linkBlock:icon'
  ]
) %}

<footer class="container-sm mt-desktop-lg bg-sky-blue-light">
  <div class="row">
    <div class="flex flex-col justify-center items-center">
      <h2 class="font-light font-sans body-lg md:heading-xl">
        Join our newsletter
      </h2>
      <a aria-label="Join newsletter" title="Join newsletter" class="button__spacing bg-black text-white font-san font-light text-16 px-6 py-3 mt-4 flex flex-row justify-center items-center border border-black hover:bg-transparent hover:text-black button__spacing" href="{{ siteUrl }}join-our-newsletter" >
        Sign up
        <svg width="13" height="10" class="ml-2" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 5C0 4.5399 0.372981 4.16692 0.833077 4.16692H9.11077L6.66765 1.77725C6.32977 1.44676 6.33019 0.902905 6.66859 0.572933V0.572933C6.99547 0.254194 7.51686 0.254174 7.84376 0.572889L12.3846 5L7.84376 9.42711C7.51686 9.74583 6.99547 9.74581 6.66859 9.42707V9.42707C6.33019 9.0971 6.32977 8.55324 6.66765 8.22275L9.11077 5.83308H0.833075C0.37298 5.83308 0 5.4601 0 5V5Z" fill="#838383"/>
        </svg>

      </a>
    </div>

    {% if footerNavigation %}
      <div class="flex flex-row flex-wrap -mx-2 mt-[98px]">
        {% nav node in footerNavigation %}
          <div class="flex flex-row flex-wrap w-full md:w-1/4 mb-6 md:mb-0 px-4 border-r border-grey-light last:border-r-0">
            <div>
              <div class="mb-3 md:mb-[36px]">
                <span class="font-serif italic heading-xs text-grey-mid">
                {{ node.title }}
              </span>
              </div>

              {% if node.hasDescendants %}
                <ul class="flex flex-col">
                  {% for subnode in node.children.collect() %}
                    <li class="mb-4 last:mb-0">
                      <a class="text-16 font-light font-sans underline" aria-label="{{ subnode.title }}" href="{{ subnode.url }}">
                        {{ subnode.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>

        {% endnav %}
      </div>
    {% endif %}




    <div class="flex flex-col md:flex-row -mx-4 mt-[74px] pb-[28px] border-b border-grey-light">
      <div class="w-full mb-8 md:w-5/12 px-4 flex flex-col">
        {% if logo.logoBlack %}
          <div class="w-[112px] mb-3">
            {{ svg(logo.logoBlack.collect().first()) }}
          </div>
        {% endif %}
        <div>
          <p class="font-light font-sans body-md">{% if contact.buildingNumberName %}{{ contact.buildingNumberName}}, {% endif %}{% if contact.addressLine1 %}{{ contact.addressLine1}}, {% endif %}{% if contact.addressLine2 %}{{ contact.addressLine2}}, {% endif %}{% if contact.city %}{{ contact.city}}, {% endif %}{% if contact.postCode %}{{ contact.postCode}}{% endif %} </p>

          {% if contact.emailAddress %}
            <a aria-label="Email" href="mailto:{{ contact.emailAddress }}" class="font-light font-sans body-md underline">
              {{ contact.emailAddress }}
            </a>
          {% endif %}

          {% if contact.telephoneNumber %}
            <p class="font-light font-sans body-md">
              {{ contact.telephoneNumber }}
            </p>
          {% endif %}
        </div>
      </div>

      <div class="w-full md:w-7/12 px-4 flex flex-col md:justify-end md:items-end">
        {% if footer.socialLinks %}
          <ul class="flex flex-row -mx-1">
            {% for link in footer.socialLinks.collect() %}
              <li class="px-1">
                <a class="social__icon" aria-label="Social link" {% if link.socialLink %}href="{{ link.socialLink }}"{% endif %}>
                  {% if link.icon.collect.first() %}
                    {{ svg(link.icon.collect().first()) }}
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>



    <div class="mt-[28px] flex flex-col md:justify-center md:items-center">
      {% if footer.logos %}
        <div class="max-w-[570px]">
          <ul class="flex flex-row flex-wrap -mx-2">
            {% for logo in footer.logos.collect() %}
              <li class="px-2">
                <img class="h-8 md:h-12" aria-labelledby="title" title="{{ logo.title }}" src="{{ logo.url }}" alt="{{ logo.alt }}">

              </li>
            {% endfor %}
          </ul>

        </div>

      {% endif %}
      <div class="mt-[36px] flex flex-col md:flex-row -mx-2">
        {% if footer.copyrightText %}
          <p class="py-4 md:py-0 px-2 font-light font-sans caption">
            &copy; <script>document.write(new Date().getFullYear())</script> {{ footer.copyrightText }}
          </p>
        {% endif %}
        {% if footer.privacyPolicyLink %}
          <a aria-label="Privacy and cookies" href="{{ footer.privacyPolicyLink }}" class="px-2 py-4 md:py-0 font-light font-sans caption underline">
            Privacy and cookies
          </a>
        {% endif %}

        {% if footer.termsLink %}
          <a aria-label="Terms and conditions" href="{{ footer.termsLink }}" class="px-2 font-light py-4 md:py-0 font-sans caption underline">
            Terms and conditions
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>

{% endcache  %}
{#{% endcache  %}#}
