{# Project object #}

{# Image #}
{# Overlay #}
{# Services #}
{# Title #}

<a class="group" href="{{item.url}}">
  <div class="relative h-[600px] overflow-hidden flex flex-col justify-end items-center ">
    {% if item.listingImage %}
      <div class="absolute offset-0 z-0">
        <div class="relative">
          <img class="transition duration-300 ease-in-out transform group-hover:scale-105" src="{{item.listingImage.one().url}}" alt="{{item.title}}">
          {% if item.listingImageOverlay %}
            <div class="absolute overlay top-0 w-full h-full"></div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="z-10 relative p-10 flex flex-col">
      {% if item.services %}
        <span class="text-white font-bold font-inter-tight body text-center uppercase tracking-heading transition duration-300 ease-in-out opacity-0 group-hover:opacity-100 translate-y-6 group-hover:translate-y-0">
                      {{ item.services|join(', ') }}
                    </span>
      {% endif %}
      <h4 class="h4 text-white font-extrabold uppercase text-center">{{item.title}}</h4>
    </div>

  </div>
</a>